@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Roboto+Slab&display=swap');

*, *::before,*::after {
    box-sizing: border-box;
    font-size: normal;
    margin: 0;
}

body {
    max-height: 100vh;
    background-color: #222;
    font-style: normal;
    font-family: 'Paprika';
    color: #f3f3f3;
}

p, span {
    font-size: 16px;
    font-family: 'roboto-slab';
    /* font-style: italic; */
}
a {
    color: #f3f3f3;
}
.header {
    height: 20%;
    width: 100%;
    /* border: 1px solid #fff; */
    padding-bottom: 20px;
    background-color: #111;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6)
}
.top--header {
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 10px 0px 0 20px
}

.col--1 {
    /* border: 1px solid green; */
    width: 40%;
    line-height: 25px;
    padding: 20px 0 0 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col--1 .content {
    padding-left: 20px;
}
.col--1 .image {
    width: 100%;
    height: 100%;
}
.col--1 .user {
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px solid #e9b872;
    border-radius: 200px;
    overflow: hidden;
    outline: none;
    /* transform: translateX(-20px); */
}

.image .image--profile {
    width: 200px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;


}

.col--1 h2 {
    font-size: 20px;
    font-weight: bolder;
    color: #f5f5f5;
}
[data-p="1"] {
    font-size: 16px;
    color: rgba(255,255,255,0.6);
    
}
[data-p="2"] {
    font-size: 16px;
    color: rgba(255,255,255,0.4);
}
.col--2 {
    /* border: 1px solid blue; */
    width: 60%;
    display: block;
}
.col--2 .li--wrapper {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.li--wrapper .list {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    

}
.li--wrapper .list a {
    text-decoration: none;
    display: inline-block;
    line-height: 20px;

}
.icon {
    /* border: 1px solid red; */
    padding: 10px;
    font-size: 30px;
}
.icon .fas, .fab {
    color: #e9b872;
}

/* .list {
    border: 3px solid red;
} */

.list a .icon .fa-windows {
    padding-top: 20px;
    /* z-index: -10; */
}
.list a .icon .fa-edge {
    padding-top: 20px;
}
.content--divider {
    width: 100%;
    /* position: relative; */
    /* border: 1px solid white; */
    margin-top: 20px;
    padding: 5px;
    display: grid;
}

.content--divider .title--1 {
    color: #f5f5f5;
}
.content--divider .title--2 {
    color: rgba(255,255,255,0.6);
}
.content--divider .title--3 {
    color: rgba(255,255,255,0.6);
}

.list:nth-child(2) {
    /* border: 1px solid red; */
    position: relative;

}
.round--circle--2 {
    height: 15px;
    width: 15px;
    background-color: #444;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: 10px;
    /* z-index: 30; */
    /* transform: translate(3px, -7px ); */
}
.list:nth-child(3) {
    /* border: 1px solid red; */
    position: relative;

}

.round--circle--3 {
    height: 15px;
    width: 15px;
    background-color: #444;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
    border-radius: 100%;
    position: absolute;
    top: 35px;
    left: 15px;
}
/* First section which is the header ends Here*/

/* Second section
*this is the beggining of the second  Section
*/

.main {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
}

.search--main {
    /* position: relative; */
    /* border: 2px solid red; */
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

#search--dashboard {
    width: 400px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #222;
    /* background: #222;  */
    
}

#search--dashboard::placeholder {
    font-size: 14px;
    font-family: 'Roboto';
    text-transform: lowercase;
    font-weight: bold;
}

.input {
    /* border: 2px solid red; */
    position: relative;
}

.input .fa-search {
    position: absolute;
    top: 10px;
    transform: translate(-20px,-2px);
    color: #888;
}

.menu--dashboard {
    /* border: 2px solid yellow; */
    height: 100%;
    width: 100%;
}
.dashboard--lists {
    height: 100%;
    width: 100%;
    /* border: 1px solid #fff; */
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(5, 150px);
    padding-top: 30px;
    /* padding-left: 30px; */
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center;  */
    place-content: center;
    /* place-items: center; */
    grid-gap: 20px;
}

.dashboard--lists li a {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    text-decoration: none;
    gap: 20px;
}
.dashboard--lists li a .list--contents {
    /* border: 2px solid red; */
    /* width: 200px; */
    line-height: 20px;
    white-space: inherit;
}
.dashboard--lists li a .list--contents h3 {
    font-size: 14px;
    font-family: 'paprika';
    font-weight: bolder;
    text-transform: uppercase;
    color: #f5f5f5;

}
.dashboard--lists li a .list--contents p {
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Roboto';
    text-transform: capitalize;
    color: rgba(255,255,255,0.6)

}
.dashboard--lists li a .icon--list {
    font-size: 30px;
    transform: translateY(5px);
    /* border: 1px solid orange; */
}

.icon--list .fas,.far {
    color: #e9b872;
}

.dashboard--lists li {
    /* border: 2px solid green; */
    padding: 10px 0px 0px 10px;
    height: 100px;
    width: 100%;
    transform-origin: right;
    transition: all 1s ease;
    
    
}

.list--2:hover {
    border: 2px solid rgba(255,255,255,0.5);
    /* background: rgba(0,0,0,0.1) */
    background: rgba(255,255,255,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 15px;
    transform: scale(1.1);
;
    /* transform-origin: center; */
}